# Disable usb-storage
install usb-storage /bin/false

# Disable support for Datagram Congestion Control Protocol
install dccp /bin/false

# Disable support for Stream Control Transmission Protocola
install SCTP /bin/false

# Disable support for Reliable Datagram Sockets Protocal
install RDS /bin/false

# Disable support for Transparent Inter-Process Communication Protocal
install TIPC /bin/false
