[defaults]
roles_path = .roles_cache:roles
retry_files_enabled = False
remote_tmp = /tmp/.ansible-{$USER}/tmp
inventory_ignore_extensions = .md, .yml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
