<cr>
  <customer id="{{ user_id_result.json.collection_cnt.cnt['@id'] }}"/>
  <requested_by id="{{ user_id_result.json.collection_cnt.cnt['@id'] }}"/>
  <priority COMMON_NAME="Request"/>
  <affected_resource COMMON_NAME="{{ sdm_create_ticket_ci }}"/>
  <category COMMON_NAME="{{ sdm_create_ticket_fds_category }}"/>
  <zinquiry_type COMMON_NAME="Agora"/>
  <description><![CDATA[{{ sdm_create_ticket_description }}]]></description>
  <summary><![CDATA[{{ sdm_create_ticket_summary }}]]></summary>
</cr>
