url --url=http://download.devel.redhat.com/released/RHEL-8/8.0.0/BaseOS/x86_64/os/

# for too new hardware
# unsupported_hardware

text
skipx
bootloader

firewall --disabled
selinux --enforcing
firstboot --disabled

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC

zerombr
clearpart --all --initlabel
part /boot --size=250
part swap --size=2000
part / --size=3000 --grow

rootpw vagrant
authselect --enableshadow --passalgo=sha512
user --name=vagrant --password=vagrant

reboot

%packages --excludedocs --excludeWeakdeps
@core
-b43-openfwwf
-efibootmgr
-iwl*-firmware
-libX*
-fontconfig
-kernel-devel
-kernel-headers
-gcc
-cpp
-rhn-client-tools
-yum-rhn-plugin
-rhnsd
-rhn-check
-rhn-setup
-rhnlib
-postfix
-btrfs-progs
-parted
-redhat-support-tool
-dracut-config-rescue
-glibc-all-langpacks
glibc-langpack-en
sudo
openssh-clients
openssh-server
make
rsync
nfs-utils
portmap
%end

%addon com_redhat_kdump --disable
%end

%post
echo 'vagrant             ALL=(ALL)   NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
echo 'Defaults:vagrant    env_keep += SSH_AUTH_SOCK' >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers
sed -i 's/rhgb //' /boot/grub/grub.conf
%end
