DATABASE_USER={{ pg_username }}
DATABASE_NAME={{ pg_database }}
DATABASE_HOST={{ pg_host }}
DATABASE_PORT={{ pg_port|default('5432') }}
DATABASE_PASSWORD={{ pg_password | quote }}
MEMCACHED_HOST={{ memcached_host }}
MEMCACHED_PORT={{ memcached_port|default('11211') }}
RABBITMQ_HOST={{ rabbitmq_host }}
RABBITMQ_PORT={{ rabbitmq_port|default('5672') }}
AWX_ADMIN_USER={{ admin_username | default('admin') }}
AWX_ADMIN_PASSWORD={{ admin_password | quote }}