<soapenv:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.soap.usm.ca.com">
  <soapenv:Header/>
  <soapenv:Body>
	<ser:updateRequestStatus soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
	  <sessionID xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">{{ session_id }}</sessionID>
	  <requestID xsi:type="xsd:int">{{ sc_close_ticket_request_item_id }}</requestID>
	  <status xsi:type="xsd:int">{{ sc_close_ticket_status_code }}</status>
	</ser:updateRequestStatus>
  </soapenv:Body>
</soapenv:Envelope>
