[defaults]
inventory=/root/work/lab-system-monitoring/inventory/hosts
host_key_checking=False
retry_files_enabled = False
remote_user=root

[privilege_escalation]
become=True
become-method=su
become-user=root
become-ask-pass=False
