parameter_defaults:
  ControllerSchedulerHints:
    'capabilities:node': 'controller-%index%'
  NovaComputeSchedulerHints:
    'capabilities:node': 'compute-%index%'
  CephStorageSchedulerHints:
    'capabilities:node': 'cephstorage-%index%'
  NetworkerSchedulerHints:
    'capabilities:node': 'networker-%index%'
  HostnameMap:
    overcloud-controller-0: osp{{ osp_version }}-ctrl01
    overcloud-controller-1: osp{{ osp_version }}-ctrl02
    overcloud-controller-2: osp{{ osp_version }}-ctrl03
    overcloud-compute-0: osp{{ osp_version }}-comp01
    overcloud-compute-1: osp{{ osp_version }}-comp02
    overcloud-cephstorage-0: osp{{ osp_version }}-ceph01
    overcloud-cephstorage-1: osp{{ osp_version }}-ceph02
    overcloud-cephstorage-2: osp{{ osp_version }}-ceph03
    overcloud-networking-0: osp{{ osp_version }}-networker01
    overcloud-networking-1: osp{{ osp_version }}-networker02
