[defaults]
nocows = 1
host_key_checking = False
retry_files_enabled = False
roles_path = $PWD/galaxy_roles:$PWD/forklift/roles:$PWD/roles
callback_plugins = $PWD/forklift/playbooks/callback_plugins/
inventory = $PWD/forklift/inventories/
stdout_callback = debug
stderr_callback = debug
library = $PWD/foreman-ansible-modules/modules:$PWD/modules
module_utils = $PWD/foreman-ansible-modules/module_utils
remote_tmp = /tmp/ansible
