{
  "host": {
    "hostgroup_id": {{_hostgroup_id}},
    "operatingsystem_id": {{_operatingsystem_id}},
    "environment_id": {{_environment_id}},
    "ptable_id": {{_ptable_id}},
    "architecture_id": {{_architecture_id}},
    "medium_id": {{_medium_id}},
    "content_facet_attributes": {
      "content_view_id": {{_content_view_id}},
      "lifecycle_environment_id": {{_lifecycle_environment_id}}
    }
  }
}
