[defaults]
inventory=inventory
roles_path=~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:~/Projects
library = ~/Projects/foreman-ansible-modules/plugins/modules
module_utils = ~/Projects/foreman-ansible-modules/plugins/module_utils
doc_fragment_plugins = ~/Projects/foreman-ansible-modules/plugins/doc_fragments
retry_files_enabled = False
