{
  "checks": {
    {% for host in groups['nginx_cluster'] %}
    "{{ hostvars[host]['ansible_hostname'] }}-check": {
      "command": "check-http.rb -u http://{{ host }}/",
      "subscribers": [
        "production"
      ],
      "interval": 2,
      "timeout": 5,
      "ttl": 7
    }{% if not loop.last %},{%endif%}

  {% endfor %}
  }
}
