---
# Built by Ansible Tower Genie Installer

# Ansible Tower Secrets
{% for secret in tower_secrets %}
tower_{{ secret.name | truncate(4, True, '', 0) | lower }}_pass: "{{ secret.pass }}"
{% endfor %}

{% if onboard_in_scm | bool %}
{% if scm_type.user_input | lower == "gitlab" %}
# Gitlab Secrets
gl_pass: "{{ scm_pass.user_input }}"
gl_token: "{{ scm_token.user_input }}"
{% endif %}
{% endif %}
