# Kickstart for RHEL 7 unattended installation
# Generated and maintained for CDP - Cassa Depositi e Prestiti

install
cdrom
lang en_US.UTF-8
selinux --enforcing
keyboard us
skipx

# The well-known default password used for new users
rootpw --iscrypted $1$MndAu4+B$nx8.LsfiEJjHXlLWj42Ce.

# User for Ansible automation purposes. An authorized public key is injected in the post phase.
user --name=ansible --gecos=Ansible --homedir=/home/ansible --uid=2005 --gid=2005

firewall --disabled
authconfig --useshadow --passalgo=sha256 --kickstart
timezone Europe/Rome

bootloader --location=mbr --append="nofb" 

clearpart --all --drives=/dev/sda --initlabel

# Minimal partition layout. Provides enough room for new filesystems like /opt and others, if needed.
part /boot --fstype=ext4 --size=512 
part pv.01 --size=10000 --grow 
volgroup vg00 pv.01 
logvol / --vgname=vg00 --name=lvROOT --fstype=ext4 --size=5000
logvol /usr --vgname=vg00 --name=lvUSR --fstype=ext4 --size=6000
logvol /home --vgname=vg00 --name=lvHOME --fstype=ext4 --size=1000
logvol /var --vgname=vg00 --name=lvVAR --fstype=ext4 --size=8000
logvol swap --vgname=vg00 --name=lvSWAP --size=8000

# No need for graphics style installation.
text

# Poweroff after installation to allow for a clean VM templating and cloning
poweroff

# Very minimal package set. Perl is needed by open-vm-tools and its guest customization feature. Do not remove it.
%packages --ignoremissing
yum
ntp
subscription-manager
perl
open-vm-tools
@Core
%end


%post --nochroot
exec < /dev/tty3 > /dev/tty3
#changing to VT 3 so that we can see whats going on....
/usr/bin/chvt 3
(
cp -va /etc/resolv.conf /mnt/sysimage/etc/resolv.conf
/usr/bin/chvt 1
) 2>&1 | tee /mnt/sysimage/root/install.postnochroot.log
%end

%post
logger "Starting anaconda postinstall"
exec < /dev/tty3 > /dev/tty3
#changing to VT 3 so that we can see whats going on....
/usr/bin/chvt 3
(


# Adding public key for Ansible user
mkdir -p ~ansible/.ssh

cat << EOF >> ~ansible/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDbBAFAZrSngupaWeFJUPCIGjOYueNi3zQjYKyBybbcddh2PMXjslJPLWaun415Nth0v9y1oG9008pBuOrK8JuTibTiyl2Zeej4oCJr1ucQHEAt2yL8+oIJrT223ICDsh5ap/mTwk912V4coLg8sMEQpMnEcdYQgFR5/tq8eryFLHVW6eOlfOsb6VOoBjyGsZyC3G/aKamt3L/k9M3aoS828OeWzcwLOuKmJxzW7RDEReaukuLGASQ+eeo7TSesIHSRbNkLxXa/5WBuVJCu2A+Igh+/uVLcKkDoZLuZdbZTYncpxDdP9LgRDiCoZ/4eKhdYOVVAqS2U+A01ScuIJ9d9Sk6PRAFOe+5yQ8EuCECXhVBYT9vUzBbKFfBYcUJuVxaxDhTwYJ4vor2ZqwBf69Qhr165yXeC0fHpqpw7/UscZDqkJWe2TtJZuwJrt6zoHkYfwbTy21PUTxXPtZ3/J7HiWLjiMSNzvBNEaXiBmabL3QuCW33788yA1FUn96tWeWdsL3tIcppZxajRMZO3Yn9Ftp6phBRCvvyZzcJlTuU/r3U+U8wl3MCADA1RSnLgiDkqdolXjLTi4wlKq+33564K/546+Pqw8irtXge5PSq9J0r/Mzn8q/Lv9FRhU2Q6eyDL5LMRJJh39WAR+kh7iyJkC8rNOC3DqRHdpXqWHZDKsw== ansible@cdprh134
EOF

# Setting permissions for the Ansible .ssh directory
chmod 700 ~ansible/.ssh
chmod 600 ~ansible/.ssh/authorized_keys
chown -R ansible: ~ansible/.ssh

# Creating sudo rules for Ansible
cat << EOF >> /etc/sudoers.d/ansible
ansible ALL=(ALL) NOPASSWD:ALL
Defaults: ansible !requiretty
EOF

# Restore SELinux context with restorecon, if it's available:
command -v restorecon && restorecon -RvF ~ansible/.ssh || true

sync

) 2>&1 | tee /root/install.post.log
exit 0

%end
