$TTL 60

@                       IN              SOA     example.com. root.example.com. (
                                        17062201        ; Serial
                                        3600            ; Refresh
                                        900             ; Retry
                                        3600000         ; Expire
                                        3600            ; Minimum
                                )
                        IN      NS      {{ origin.prefix }}-ns.example.com.

11			IN	PTR	{{ origin.prefix }}-ns.example.com.

18			IN	PTR	{{ origin.prefix }}-lb1.example.com.
19			IN	PTR	{{ origin.prefix }}-lb2.example.com.
20			IN	PTR	{{ origin.prefix }}-lb.example.com.
21			IN	PTR	{{ origin.prefix }}-master1.example.com.
22			IN	PTR	{{ origin.prefix }}-master2.example.com.
23			IN	PTR	{{ origin.prefix }}-master3.example.com.
31			IN	PTR	{{ origin.prefix }}-infra1.example.com.
32			IN	PTR	{{ origin.prefix }}-infra2.example.com.
41			IN	PTR	{{ origin.prefix }}-node1.example.com.
42			IN	PTR	{{ origin.prefix }}-node2.example.com.
