$TTL 60

@                       IN              SOA     osetest.local. root.osetest.local. (
                                        17062201        ; Serial
                                        3600            ; Refresh
                                        900             ; Retry
                                        3600000         ; Expire
                                        3600            ; Minimum
                                )
                        IN      NS      {{ origin.prefix }}-ns.osetest.local.

{{ origin.prefix }}-ns			IN	A	10.0.1.11

{{ origin.prefix }}-lb1			IN	A	10.0.1.18
{{ origin.prefix }}-lb2			IN	A	10.0.1.19
{{ origin.prefix }}-lb			IN	A	10.0.1.20
{{ origin.prefix }}-master1		IN	A	10.0.1.21
{{ origin.prefix }}-master2		IN	A	10.0.1.22
{{ origin.prefix }}-master3		IN	A	10.0.1.23
{{ origin.prefix }}-infra1		IN	A	10.0.1.31
{{ origin.prefix }}-infra2		IN	A	10.0.1.32
{{ origin.prefix }}-node1		IN	A	10.0.1.41
{{ origin.prefix }}-node2		IN	A	10.0.1.42

*.app					IN	A	10.0.1.30
