[rhel-7-server-rpms]
name = Red Hat Enterprise Linux 7 Server (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-extras-rpms]
name = Red Hat Enterprise Linux 7 Server - Extras (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-extras-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-optional-rpms]
name = Red Hat Enterprise Linux 7 Server - Optional (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-optional-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-rh-common-rpms]
name = Red Hat Enterprise Linux 7 Server - RH Common (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-rh-common-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-openstack-{{ osp_version }}-rpms]
name = Red Hat OpenStack Platform {{ osp_version }} for RHEL 7 (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-openstack-{{ osp_version }}-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

{% if osp_version >= 10 %}
[rhel-7-server-openstack-{{ osp_version }}-devtools-rpms]
name = Red Hat OpenStack Platform {{ osp_version }} devtools for RHEL 7 (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-openstack-{{ osp_version }}-devtools-rpms
{% else %}
[rhel-7-server-openstack-{{ osp_version }}-director-rpms]
name = Red Hat OpenStack Platform {{ osp_version }} director for RHEL 7 (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-openstack-{{ osp_version }}-director-rpms
{% endif %}
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-openstack-{{ osp_version }}-optools-rpms]
name = Red Hat OpenStack Platform {{ osp_version }} Operational Tools for RHEL 7 (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-openstack-{{ osp_version }}-optools-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-openstack-{{ osp_version }}-tools-rpms]
name = Red Hat OpenStack Platform {{ osp_version }} Tools for RHEL 7 Server (RPMs)
baseurl = {{ repository.server }}/{{ repository.path }}/rhel-7-server-openstack-{{ osp_version }}-tools-rpms
enabled = 1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
