#
#
#
## Location of JDK
#JAVA_HOME="{{java_home}}"
JAVA_HOME="/usr"

## Location of JBoss EAP
JBOSS_HOME="{{jboss_eap_home_without_slash}}"
JBOSS_NAME={{jboss_name_to_conf}}
## The username who should own the process.
JBOSS_USER={{jboss_eap_user}}
## The mode JBoss EAP should start, standalone or domain
JBOSS_MODE=standalone

## Configuration for standalone mode
JBOSS_CONFIG={{jboss_config_mode}}

## Configuration for domain mode
# JBOSS_DOMAIN_CONFIG=domain.xml
# JBOSS_HOST_CONFIG=host-master.xml

## The amount of time to wait for startup
# STARTUP_WAIT=60

## The amount of time to wait for shutdown
# SHUTDOWN_WAIT=60

## Location to keep the console log
# JBOSS_CONSOLE_LOG="/var/log/jboss-eap/console.log"

## Additionals args to include in startup
{% if disable_admin_only %}#{% endif %}JBOSS_OPTS="--admin-only -b 127.0.0.1"
##
#{% if disable_bind_address %}#{% endif %}JBOSS_OPTS="-b {{bind_address}} -bmanagement={{bind_address_management}}"
{% if disable_bind_address %}#{% endif %}JBOSS_OPTS="-b 0.0.0.0 -bmanagement=0.0.0.0"
{% if jboss_port_offset_enabled %}JBOSS_OPTS="$JBOSS_OPTS -Djboss.socket.binding.port-offset={{jboss_socket_binding_port_offset}}"{% endif %}

#
# EOF