<har_comp>
  <zapplication>{{ cmdb_add_ci_server_application }}</zapplication>
  <zserverstate>{{ cmdb_add_ci_server_state }}</zserverstate>
  <zcore>{{ cmdb_add_ci_server_core_count }}</zcore>
  <zpatch>{{ cmdb_add_ci_server_patch_group }}</zpatch>
</har_comp>
