[defaults]
host_key_checking = False
allow_world_readable_tmpfiles = True
library                       = /modules/:/vendor/f5-ansible/library
retry_files_enabled           = False

[ssh_connection]
pipelining                    = True
